a.gflag {vertical-align:middle;font-size:16px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/16a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}

.embedresize {
    max-width: 100%;
    margin: auto;
}

.embedresize div {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.embedresize iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro #intro .embedresize iframe,
.exit .quizz .embedresize iframe,
.alreadyplayed #intro .embedresize iframe,
.identityset #intro .embedresize iframe,
#notabene .embedresize iframe,
#message_intro .embedresize iframe,
.fancybox_body .embedresize iframe,
#comments .embedresize iframe,
#description .embedresize iframe,
.alreadyplayed .embedresize iframe,
#adserver .embedresize iframe {
    max-width: none !important;
}

.h_gallery_item .g_img_item .lightcustom {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-5%);
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    display: table-cell;
    cursor: pointer;
}

.btn-degrade{
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    color: #fff;
    font-weight: 500;
    border: none!important;
}

.bck-purple{
    background: lightgray!important;
    cursor: pointer!important;
}
.bck-purple:hover{
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%)!important;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%)!important;
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%)!important;
}

.bck-blue{
    background: #00B8F6!important;
    color: #fff;
    cursor: pointer!important;
    border: none;
    padding: 11px 30px;
}
.bck-blue:hover{
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%)!important;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%)!important;
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%)!important;
    border: none;
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
    .profile-card-5 .card-img-block {
        top: -40px!important;
    }
    .mt-res{
        margin-top: -17px!important;
    }
    .card-text{
        padding-bottom: 26px!important;
    }
}

@media screen and (max-width: 990px) {
    .profile-card-5 .card-img-block {
        top: -30px!important;
    }
    .mt-res{
        margin-top: -17px!important;
    }
    .card-text{
        padding-bottom: 20px!important;
    }
    ul#hobbies {
        padding-inline-start: 0px;
        padding: 10px 0 80px!important;
    }
    .res-hidden{
        display: none!important;
    }
    .res-center{
        text-align: center!important;
    }
}


.card-text{
    padding-bottom: 53px;
}

.card-body{
    margin-bottom: 10px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.4);
}

.profile-card-5 .card-img-block img {
    border-radius: 12px;
    box-shadow: 0px 0px 30px 0px rgba(153, 153, 153, 0.8);
}

.profile-card-5 .card-img-block {
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: -52px;

}

.mt-res{
    margin-top: -35px;
}

ul#hobbies li {
    display: inline;
    text-align: left;
    padding: 10px 12px;
    margin: 0 5px 0 0;
    width: 100%;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%)!important;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%)!important;
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%)!important;
    box-shadow: 1px 3px 10px 0px rgba(153, 153, 153, 0.8);

}

ul#hobbies {
    padding-inline-start: 0px;
    padding: 10px 0 100px;
}

.btn-lightgray{
    background-color: #dedede!important;
    border-color: #dedede!important;
    color: #fff!important;
}
.tooltip-inner{
    color:#777777;
    border: 1px solid #777777;
    background-color:#fff!important;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #777777;
}

.tabs_inner .nav.nav-tabs {
    margin-bottom: 40px;
}

.show{
    display: block;
}

.hide{
    display: none;
}
